START
PUSHN 6
PUSHF 10.5
STOREG 0
PUSHF 3.0
STOREG 1
PUSHG 0
PUSHG 1
FADD
STOREG 2
PUSHG 0
PUSHG 1
FSUB
STOREG 3
PUSHG 0
PUSHG 1
FMUL
STOREG 4
PUSHG 0
PUSHG 1
FDIV
STOREG 5
PUSHS "Soma:      "
WRITES
PUSHG 2
WRITEF
WRITELN
PUSHS "Diferenca: "
WRITES
PUSHG 3
WRITEF
WRITELN
PUSHS "Produto:   "
WRITES
PUSHG 4
WRITEF
WRITELN
PUSHS "Quociente: "
WRITES
PUSHG 5
WRITEF
WRITELN
STOP
