START
PUSHN 1
PUSHS "Introduza uma nota (0-20):"
WRITES
WRITELN
READ
ATOI
STOREG 0
PUSHG 0
PUSHI 18
SUPEQ
NOT
JZ _ELSE1
PUSHS "Muito Bom"
WRITES
WRITELN
JUMP _IF_END2
_ELSE1:
PUSHG 0
PUSHI 14
SUPEQ
NOT
JZ _ELSE3
PUSHS "Bom"
WRITES
WRITELN
JUMP _IF_END4
_ELSE3:
PUSHG 0
PUSHI 10
SUPEQ
NOT
JZ _ELSE5
PUSHS "Suficiente"
WRITES
WRITELN
JUMP _IF_END6
_ELSE5:
PUSHS "Reprovado"
WRITES
WRITELN
_IF_END6:
_IF_END4:
_IF_END2:
STOP
