START
PUSHN 2
PUSHI 0
STOREG 1
PUSHI 1
STOREG 0
L10:
PUSHG 0
PUSHI 100
INFEQ
NOT
JZ _IF_END1
PUSHG 1
PUSHG 0
ITOF
FADD
STOREG 1
PUSHG 0
PUSHI 1
ADD
STOREG 0
JUMP L10
_IF_END1:
PUSHS "Soma de 1 a 100: "
WRITES
PUSHG 1
WRITEF
WRITELN
STOP
