START
PUSHN 4
PUSHS "INTRODUZA UM NUMERO DECIMAL INTEIRO:"
WRITES
WRITELN
READ
ATOI
STOREG 0
PUSHI 2
STOREG 1
PUSHI 9
_DO_TEST1:
PUSHG 1
DUP 1
PUSHG 1
SUPEQ
NOT
JZ _DO_END2
L10:
PUSHG 0
PUSHG 1
PUSHA CONVRT
CALL
STOREG 2
PUSHS "BASE "
WRITES
PUSHG 1
WRITEF
PUSHS ": "
WRITES
PUSHG 2
WRITEF
WRITELN
L10:
NOP
STOP
CONVRT:
PUSHN 5
PUSHI 0
STOREL 6
PUSHI 1
STOREL 5
PUSHL 0
STOREL 3
L20:
PUSHL 3
PUSHI 0
ITOF
FSUP
NOT
JZ _IF_END3
PUSHL 3
PUSHL 1
MOD
STOREL 4
PUSHL 6
PUSHL 4
PUSHL 5
FMUL
FADD
STOREL 6
PUSHL 3
PUSHL 1
FDIV
STOREL 3
PUSHL 5
PUSHI 10
ITOF
FMUL
STOREL 5
JUMP L20
_IF_END3:
PUSHL 6
STOREL 2
PUSHL 2
RETURN
PUSHL 2
RETURN
