START
PUSHN 3
PUSHS "Introduza um numero inteiro positivo:"
WRITES
WRITELN
READ
ATOI
STOREG 0
PUSHI 1
STOREG 2
PUSHI 1
STOREG 1
PUSHG 0
_DO_TEST1:
PUSHG 1
DUP 1
PUSHG 1
SUPEQ
NOT
JZ _DO_END2
L10:
PUSHG 2
PUSHG 1
ITOF
FMUL
STOREG 2
L10:
NOP
PUSHS "Fatorial de "
WRITES
PUSHG 0
WRITEI
PUSHS ": "
WRITES
PUSHG 2
WRITEF
WRITELN
STOP
