START
PUSHN 3
PUSHI 1
STOREG 0
PUSHI 0
STOREG 1
PUSHG 0
PUSHG 1
AND
STOREG 2
PUSHS "TRUE AND FALSE = "
WRITES
PUSHG 2
WRITEF
WRITELN
PUSHG 0
PUSHG 1
OR
STOREG 2
PUSHS "TRUE OR  FALSE = "
WRITES
PUSHG 2
WRITEF
WRITELN
PUSHG 0
NOT
STOREG 2
PUSHS "NOT TRUE       = "
WRITES
PUSHG 2
WRITEF
WRITELN
PUSHG 1
NOT
STOREG 2
PUSHS "NOT FALSE      = "
WRITES
PUSHG 2
WRITEF
WRITELN
STOP
