START
PUSHN 4
ALLOC 9
STOREG 0
PUSHI 1
STOREG 3
PUSHI 1
STOREG 1
PUSHI 3
_DO_TEST1:
PUSHG 1
DUP 1
PUSHG 1
SUPEQ
NOT
JZ _DO_END2
L10:
PUSHI 1
STOREG 2
PUSHI 3
_DO_TEST3:
PUSHG 2
DUP 1
PUSHG 2
SUPEQ
NOT
JZ _DO_END4
L20:
PUSHG 0
PUSHG 1
PUSHI 1
SUB
PADD
PUSHG 3
STOREN
PUSHG 3
PUSHI 1
ITOF
FADD
STOREG 3
L20:
NOP
L10:
NOP
PUSHS "Valores da matriz (linha a linha):"
WRITES
WRITELN
PUSHI 1
STOREG 1
PUSHI 9
_DO_TEST5:
PUSHG 1
DUP 1
PUSHG 1
SUPEQ
NOT
JZ _DO_END6
L30:
PUSHG 0
PUSHG 1
PUSHI 1
SUB
LOADN
WRITEI
WRITELN
L30:
NOP
STOP
