START
PUSHN 1
PUSHS "Numeros pares de 2 a 20:"
WRITES
WRITELN
PUSHI 2
STOREG 0
PUSHI 20
_DO_TEST1:
PUSHG 0
DUP 1
PUSHG 0
SUPEQ
NOT
JZ _DO_END2
L10:
PUSHG 0
WRITEI
WRITELN
L10:
NOP
PUSHS "Contagem decrescente de 10 a 1:"
WRITES
WRITELN
PUSHI 10
STOREG 0
PUSHI 1
_DO_TEST3:
PUSHG 0
DUP 1
PUSHG 0
SUPEQ
NOT
JZ _DO_END4
L20:
PUSHG 0
WRITEI
WRITELN
L20:
NOP
STOP
