START
PUSHN 2
PUSHI 8
STOREG 0
PUSHI 3
STOREG 1
PUSHG 0
PUSHG 1
PUSHA IMPRIME
CALL
STOP
IMPRIME:
PUSHN 2
PUSHL 0
PUSHL 1
FADD
STOREL 2
PUSHL 0
PUSHL 1
FMUL
STOREL 3
PUSHS "Soma:    "
WRITES
PUSHL 2
WRITEF
WRITELN
PUSHS "Produto: "
WRITES
PUSHL 3
WRITEF
WRITELN
RETURN
RETURN
